/Library/ 
/Temp/ 
/Obj/ 
/Build/ 
/Builds/ 
/Logs/ 
/UserSettings/ 
# Ignore Visual Studio and Unity junk
.vs/
Library/
Temp/
obj/
Logs/
MemoryCaptures/
Builds/
*.user
*.csproj
*.sln
*.unityproj
*.pidb
*.svd
*.pdb
*.opendb
